<div id=content>
	<form action="{{action}}" method="post" id="nds_add_user_meta_form">
		<table>
			<tr>
				<td colspan="2">
					<label for="city" id="city">Input your city name...</label>
				</td>
			</tr>
			<tr>
				<td>

					<input type="text" name="city" id="city"/>
				</td>
				<td class="left-align" align="left">
					<input style="float: left;" type="submit" value="Search"></input>
				</td>
			</tr>
		</table>
		<input type="hidden" name="action" value="city_form">
	</form>
</div>
